.pages {
	position: relative;
	padding-top: 40px;
	&::after {
		position: absolute;
		content: '';
		height: 800px; width: 100%;
		background-color: #FFF7E1;
		top: 0; left: 0;
		z-index: -1;
	}
	&::before {
		position: absolute;
		content: '';
		height: 250px; width: 100%;
		background-image: url('../../assets/image/whyWe/text.svg');
		background-repeat: no-repeat;
		background-size: cover;
		top: 705px;
		z-index: -1;

	}
}

.pagesScroll {
	margin-top: 80px;
	.pagesScrollBody {
		padding: 20px 0;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 20px;
		&.otherScroll {
			grid-template-columns: repeat(3, 1fr);
		}
	}
	&.fixed {
		position: fixed;
		background-color: #fff;
		width: 100%;
		top: 75px;
		left: 0;
		box-shadow: 0px 3px 14px rgba(157, 157, 157, 0.25);
		z-index: 3;
	}
}

.pagesInfoBlock {
	padding-bottom: 200px;
}

.pagesInfo {
	margin-top: 100px;
	.pagesCharact {
		padding: 60px 80px;
		background: #FFFFFF;
		box-shadow: 0px 0px 30px rgba(149, 149, 149, 0.25);
		border-radius: 20px;
		.charactTitle {
			font-weight: 700;
			font-size: 1.2rem;
			line-height: 130%;
			color: #222222;
		}
		.charactBody {
			display: flex;
			flex-direction: column;
			padding-right: 140px;
			margin-top: 40px;
			font-size: 1rem;
			line-height: 130%;
			color: #000000;
			.charactName {
				font-weight: 700;
			}
			.charactItem {
				position: relative;
				padding: 20px 0;
				display: flex;
				justify-content: space-between;
				&::before {
					position: absolute;
					content: '';
					width: 100%;
					height: 1px;
					bottom: 0; left: 0;
					background-color: #B2B2B2;
				}
			}
		}
	}
	.pagesDesc {
		position: relative;
		margin-top: 90px;
		display: flex;
		align-items: center;
		gap: 10%;
		padding-bottom: 100px;
		p {
			font-weight: 500;
			font-size: 1rem;
			line-height: 130%;
			color: #222222;
		}
		img {
			border-radius: 20px;
		}
	}
	.pagesCooking {
		margin-top: 50px;
		.cookingTitle {
			margin-bottom: 60px;
		}
		.howCooking {
			font-size: 1rem;
			line-height: 130%;
			max-width: 1110px;
			color: #222222;
		}
	}
}

@media (min-width: 1600px) {
	.pages {
		&::before {
			position: absolute;
			content: '';
			height: 800px; width: 100%;
			background-size: cover;
			top: 705px;
		}
	}
}
@media (max-width: 1600px) {
	.pages {
		&::after {
			height: 700px;
		}
		&::before {
			position: absolute;
			content: '';
			height: 250px; width: 100%;
			background-size: cover;
			top: 695px;
		}
	}
}

@media (max-width: 1400px) {
	.pages {
		padding-top: 30px;
	}
	.pagesScroll {
		margin-top: 50px;
		&.fixed {
			padding: 10px 0;
			top: 55px;
		}
	}
	.pagesInfo {
		margin-top: 80px;
		.pagesCharact {
			padding: 40px 50px;
			margin-bottom: 60px;
			.charactBody {
				padding-right: 4%;
				margin-top: 30px;
				.charactItem {
					padding: 17.5px 0;
				}
			}
		}
		.pagesDesc {
			margin-top: 0px;
			gap: 8%;
			padding-bottom: 30px;
			p {
				font-weight: 500;
				font-size: 1rem;
				line-height: 130%;
				color: #222222;
			}
			img {
				width: 300px; height: 300px;
				border-radius: 20px;
			}
		}
		.pagesCooking {
			margin-top: 40px;
			.cookingTitle {
				margin-bottom: 35px;
			}
			.howCooking {
				max-width: 960px;
			}
		}
	}
}

@media (max-width: 1000px) {
	.pagesInfo {
		margin-top: 40px;
		.pagesDesc {
			margin-top: 0px;
			flex-direction: column;
			gap: 60px;
			p {
				font-weight: 500;
				font-size: 1rem;
				line-height: 130%;
				color: #222222;
			}
			img {
				width: 100%; height: 300px;
				object-fit: cover;
			}
		}
	}
}

@media (max-width: 780px) {
	.pages {
		padding-top: 30px;
	}
	.pagesScroll {
		margin-top: 40px;
		.pagesScrollBody {
			margin-top: 70px;
			padding: 5px 0;
			grid-template-columns: repeat(2, 1fr);
			&.otherScroll {
				grid-template-columns: 1fr 1fr;
				.scrollButton:first-child {
					grid-column: 2 span;
				}
			}
		}
		.scrollButton {
			padding: 15px 0;
		}
		&.fixed {
			top: 0px;
		}
	}
	.pagesInfo {
		margin-top: 90px;
		.pagesCharact {
			padding: 6% 7%;
			.charactTitle {
				font-size: 1rem;
			}
			.charactBody {
				font-size: calc(0.6rem + (0.8 - 0.6) * ((100vw - 400px) / (768 - 400)));
				padding-right: 3%;
				margin-top: 50px;
				.charactItem {
					padding: 20px 0;
				}
			}
		}
		.pagesDesc {
			gap: 60px;
			padding-bottom: 70px;
			p {
				font-weight: 500;
				font-size: 0.8rem;
				line-height: 130%;
				color: #222222;
			}
			img {
				width: 100%; height: calc(160px + (300 - 160) * ((100vw - 400px) / (768 - 400)));;
				object-fit: cover;
			}
		}
		.pagesCooking {
			margin-top: 40px;
			.cookingTitle {
				margin-bottom: 40px;
			}
			.howCooking {
				font-size: 0.8rem;
				max-width: none;
			}
		}
	}
}

@media (max-width: 400px) {
	.pagesScroll {
		margin-top: 40px;
		.pagesScrollBody {
			margin-top: 20px;
			padding: 5px 0;
			column-gap: 15px;
			row-gap: 10px;
			grid-template-columns: repeat(2, 1fr);
		}
	}
	.pagesInfo {
		margin-top: 40px;
		.pagesCharact {
			padding: 30px 15px;
			.charactTitle {
				font-size: 1rem;
			}
			.charactBody {
				font-size: 0.8rem;
				padding-right: 0;
				margin-top: 20px;
				.charactItem {
					padding: 10px 0;
				}
			}
		}
		.pagesDesc {
			gap: 40px;
			padding-bottom: 50x;
			p {
				font-size: 0.8rem;
			}
			img {
				width: 100%; height: 200px;
			}
		}
		.pagesCooking {
			margin-top: 30px;
			.cookingTitle {
				margin-bottom: 30px;
			}
			.howCooking {
				font-size: 0.8rem;
				max-width: none;
			}
		}
	}
}