.catalogItem {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 30px 40px;
	background: #FFFFFF;
	border: 1px solid #E4E4E4;
	border-radius: 20px;
}
.itemTop {
	display: flex;
	justify-content: space-between;
	position: relative;
	.itemRating {
		display: flex;
		flex-direction: column;
		row-gap: 14px;
		.itemStars {
			display: flex;
			column-gap: 1.5px;
		}
	}
	p {
		font-weight: 700;
		font-size: 0.8rem;
		line-height: 1.2;

		color: #222222;
		span {
			margin-left: 7px;
			font-weight: 500;
			font-size: 0.56rem;
			line-height: 16px;

			color: #5B5B5B;
		}
	}
}

.discount {
	&::before {
		content: '%';
		position: absolute;
		width: 70px;
		height: 70px;
		top: 100px; right: 20px;
		border-radius: 100%;

		display: flex;
		font-weight: 700;
		font-size: 1.4rem;
		justify-content: center;
		align-items: center;
		background: #F9B300;
		color: #000000;
	}
}
.itemImage {
	margin-top: 15px;
	text-align: center;
	img {
		min-width: 200px;
		max-width: 200px;
	}
}
.itemTitle {
	margin-top: 10px;
	font-weight: 900;
	font-size: 1rem;
	line-height: 1.25;
	color: #222222;
}
.itemType {
	margin-top: 30px;
	font-weight: 500;
	font-size: 0.72rem;
	line-height: 1.1;
	color: #222222;
}
.itemInfo {
	margin-top: 30px;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;

	.itemPrice {
		display: flex;
		flex-direction: column;
		font-weight: 900;
		font-size: 1.4rem;
		line-height: 1.2;
		color: #222222;
		.discountPrice {
			font-weight: 500;
			font-size: 1rem;
			line-height: 1.2;
			text-decoration-line: line-through;
			color: #C6C6C6;
		}
	}
	.itemButton {
		font-size: 0.8rem;
		width: 100%;
		max-width: 170px;
	}
}

.vendingItem {
	.itemButton {
		width: 100%;
		padding: 12px 0;
		max-width: none !important;
	}
	.itemImage {
		margin: 50px 0;
		width: 100%;
		img {
			border-radius: 20px;
			max-width: none;
			max-height: 200px;
			width: 100%;
		}
	}
}

@media(max-width: 1600px) {
	.catalogItem {
		padding: 30px calc(30px + (40 - 30)*((100vw - 1400px)/(1600 - 1400)));
	}
	.itemImage {
		img {
			height: 90%;
			width: 90%;
		}
	}
	.itemInfo {
		.itemButton {
			max-width: calc(130px + (170 - 130)*((100vw - 1400px)/(1600 - 1400)));
		}
	}
	.vendingItem {
		.itemButton {
			width: 100%;
			padding: 12px 0;
			max-width: none;
		}
	}
}

@media (max-width: 1400px) {
	.catalogItem {
		padding: 20px 24px;
	}
	.itemTop {
		.itemRating {
			row-gap: 10px;
			.itemStars {
				column-gap: 1px;
				svg {
					width: calc(17.5px + (19 - 17.5)*((100vw - 1400px)/(1400 - 780)));
				}
			}
		}
		p {
			span {
				margin-left: 4px;
			}
		}
	}
	.discount {
		&::before {
			width: 50px;
			height: 50px;
			top: 70px; right: 30px;
		}
	}
	.itemImage {
		margin-top: 15px;
		img {
			width: 65%;
			height: 100%;
		}
	}
	.itemTitle {
		font-size: 0.9rem;
		margin-top: 15px;
	}
	.itemType {
		margin-top: 20px;
	}
	.itemInfo {
		margin-top: 25px;
		.itemPrice {
			font-size: 1.3rem;
		}
		.itemButton {
			min-width: 0;
			max-width: calc(115px + (130 - 115)*((100vw - 1400px)/(1400 - 780)));
		}
	}
	.vendingItem {
		.itemButton {
			padding: 10px 0;
		}
		.itemImage {
			height: 100%;
			align-items: flex-start;
			max-height: 120px;
			margin: 10px 0;
		}
	}
}

@media (max-width: 780px) {
	.catalogItem {
		padding: calc(22.5px + (30 - 22.5)*((100vw - 780px)/(780 - 500)));
	}
	.itemTop {
		.itemRating {
			.itemStars {
				column-gap: 2px;
				svg {
					width: calc(19px + (21 - 19)*((100vw - 780px)/(780 - 500)));
				}
			}
		}
		p {
			font-size: 0.64rem;
			span {
				font-size: 0.5rem;
				margin-left: 6px;
			}
		}
	}
	.discount {
		&::before {
			width: calc(60px + (70 - 60)*((100vw - 780px)/(780 - 500)));
			height: calc(60px + (70 - 60)*((100vw - 780px)/(780 - 500)));
			top: 80px; right: 20px;
		}
	}
	.itemImage {
		display: flex;
		justify-content: center	;
		align-items: center;
		margin-top: 10px;
		img {
			width: 62.5%;
			height: 70%;
		}
	}
	.itemTitle {
		font-size: calc(0.7rem + (0.8 - 0.7)*((100vw - 780px)/(780 - 500)));
		margin-top: 25px;
	}
	.itemInfo {
		margin-top: 25px;
		.itemPrice {
			font-size: 1rem;
			.discountPrice {
				font-size: 0.8rem;
			}
		}
		.itemButton {
			font-size: 0.65rem;
			min-width: 0;
			max-width: 50%;
		}
	}
	.vendingItem {
		.itemImage {
			display: block;
			max-height: none;
			img {
				height: 100%;
				width: 100%;
				max-height: 150px;
			}
		}
	}
}


@media (max-width: 500px) {
	.discount {
		&::before {
			width: 60px;
			height: 60px;
			top: 80px; right: 5%;
		}
	}
	.catalogItem {
		padding: 20px 40px;
	}
}

@media (max-width: 400px) {
	.itemTop {
		.itemRating {
			.itemStars {
				column-gap: 2px;
				svg {
					width: 21px;
				}
			}
		}
		p {
			font-size: 0.8rem;
			span {
				font-size: 0.6rem;
				margin-left: 5px;
			}
		}
	}
	.itemImage {
		margin-top: 15px;
		img {
			width: 70%;
		}
	}
	.itemTitle {
		font-size: 1.1rem;
		margin-top: 20px;
	}
	.itemType {
		font-size: 0.9rem;
	}
	.itemInfo {
		margin-top: 25px;
		.itemPrice {
			font-size: 1.45rem;
			.discountPrice {
				font-size: 1rem;
			}
		}
		.itemButton {
			font-size: 0.95rem;
			min-width: 0;
			max-width: 55%;
		}
	}
	.vendingItem {
		.itemImage {
			img {
				min-height: 120px;
				max-height: 120px;
			}
		}
	}
}