
html, body {
	scroll-behavior: smooth;
	height: 100%;
}

body {
	font-family: 'Inter', 'Times', serif;
	font-weight: 400;
	font-size: 25px;
	font-family: 'Gilroy', Roboto, system-ui, Tahoma, sans-serif; 
	color: #000; font-weight: 500;
	background-color: $white;
	a {
		color: #000;
	}
	&.sortBy {
		position: fixed;
		width: 100vw; height: 100vh;
		background-color: red;
		z-index: 100;
	}
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 110px;
	background-color: transparent;
	z-index: 50;
	transition: all 0.4s ease-in-out;
	&.scroll {
		background-color: #fff;
		box-shadow: 0px 3.54254px 14.1702px rgba(157, 157, 157, 0.25);
	}
}

.wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow: hidden;
	.mainSlider {
		&::after {
			position: absolute;
			content: '';
			width: 100%;
			height: 1760px;
			top: -600px;
			right: -57%;
			background-repeat: no-repeat;
	
			background: url('./../../assets/image/coffe.png') no-repeat center left , url('./../../assets/image/MainSlider/bg.svg') no-repeat 210px -120px;
			background-size: 700px, auto;
			overflow: hidden;
			z-index: -1;
		}
	}
	.catalogMain {
		width: 100%;
		position: relative;
		&::before {
			position: absolute;
			content: '';
			width: 100%;
			height: calc(1200px + (1900 - 1200)*((100vw - 2200px)/(4000 - 2200)));
			margin-left: 0;
			top: -50%;
			left: -25%;
			background-repeat: no-repeat;
	
			background:  url('./../../assets/image/MainCatalog/bg.svg') no-repeat;
			background-size: contain;
			overflow: hidden;
			z-index: -1;
		}
		&::after {
			display: none;
			position: absolute;
			content: '';
			width: 600px;
			height: 600px;
			bottom: -425px;
			right: 75%;
			background-image: url('./../../assets/image/MainCatalog/bg-coffe.png');
			background-repeat: no-repeat;
			background-size: cover;
			pointer-events:none;
			filter: blur(2px);
			z-index: 1;
		}
	}
}

.main {
	flex: 1 1 auto;
	margin-top: 160px;
}	

.container {
	max-width: 1690px;
	margin: 0 auto;
	padding: 0 15px;
}

.linkNext {
	font-weight: 500;
	font-size: 1rem;
	line-height: 130%;
	text-decoration-line: underline;
	color: #000000;
	transition: 0.3s ease-in;
	background-color: transparent;
	&:hover {
		text-decoration-line: underline;
		color: #474141;
	}
}

.logo {
	width: 260px;
	height: 116px;
}

.link {
	font-size: 1rem;
	line-height: 1.2;
	transition: color 0.25s ease-in;
	&:hover {
		color: #E2A300;
	}
}

.text {
	font-size: 1rem;
	line-height: 130%;
	color: #000000;
}

.button {
	background-color: $yellow;
	font-size: 1.2rem;
	font-weight: 700;
	line-height: 1.2;
	color: #fff;
	border-radius: 3px;
	transition: background-color 0.25s ease-in;
	&:hover {
		background-color: $yellowHover;
	}
	&:active {
		transform: translateY(-2px);
	}
	&.big {
		min-width: 400px;
		padding: 15px 20px;
	}
	&.middle {
		font-size: 1rem;
		padding: 15px 20px;
	}
	&.small {
		min-width: 125px;
		font-size: 0.7rem;
		padding: 9px 10px;
	}
}

.viewNext {
	margin-top: 60px;
	padding: 20px;
	width: 100%;
	background: #FFFFFF;
	border: 1px solid #E4E4E4;
	border-radius: 10px;

	font-weight: 500;
	font-size: 0.8rem;
	line-height: 1.2;
	color: #000000;
	transition: .2s ease-in-out;
	&:hover, :focus {
		background: #FFF7E1;
	}
	&:active {
		background: #E2A300;
		transform: translateY(-5px);
	}
}

.title {
	font-weight: 900;
	font-size: 2rem;
	line-height: 1.25;

	color: #000000;
}

@media (max-width: 2200px) {
	.wrapper {
		.catalogMain {
			&::before {
				width: 100%;
				height: 1500px;
				margin-left: 20%;
				top: 20px;
				left: -70%;

				background:  url('./../../assets/image/MainCatalog/bg.svg') no-repeat;
				background-size: contain;
				overflow: hidden;
				z-index: -1;
			}
			&::after {
				display: block;
				position: absolute;
				content: '';
				width: 600px;
				height: 600px;
				bottom: -450px;
				right: 82.5%;
				background-image: url('./../../assets/image/MainCatalog/bg-coffe.png');
				background-repeat: no-repeat;
				background-size: cover;
				pointer-events:none;
				filter: blur(2px);
				z-index: 1;
			}
		}
	}
}

@media (max-width: 1600px) {
	.wrapper {
		.mainSlider
		{
			&::after {
				top: -525px;
				right: -55%;
				background-size: calc(600px + (700 - 600)*((100vw - 1600px)/(1600 - 1400))), 100% 100%;
				background-position: top 660px left 0, top 0px left 100px;
			}
		}
		.catalogMain {
			&::before {
				height: 1400px;
				margin-left: 20%;
				top: -90px;
				left: -70%;
		
				background:  url('./../../assets/image/MainCatalog/bg.svg') no-repeat;
				background-position: -60px 0px;
			}
			&::after {
				position: absolute;
				content: '';
				width: 600px;
				height: 600px;
				bottom: -450px;
				left: -300px;
				background-image: url('./../../assets/image/MainCatalog/bg-coffe.png');
				background-repeat: no-repeat;
				background-size: cover;
				z-index: 1;
			}
		}
	}
}
@media (max-width: 1400px) {
	html {
		font-size: 18px;
	}
	.wrapper {
		.mainSlider {
			&::after {
				top: -600px;
				right: -55%;
				background-size: calc(400px + (625 - 400)*((100vw - 770px)/(1400 - 770))), 100% 100%;
				background-position: top 660px left 0, top -110px left 100px;
			}
		}
		.catalogMain {
			&::before {
				width: 1000px;
				height: 900px;
				top: 20px;
				left: -700px;
		
				background:  url('./../../assets/image/MainCatalog/bg.svg') no-repeat;
				background-size: contain;
				background-position: 0px 0px;
			}
			&::after {
				width: 450px;
				height: 450px;
				bottom: -370px;
				left: -220px;
	
			}
		}
	}
	.main {
		margin-top: 110px;
	}
	.button {
		font-size: 1rem;
		&.big {
			padding: 15px 10px;
			min-width: 283px;	
		}
		.middle {
			padding: 10px;
		}
	}
	.viewNext {
		padding: 15px;
	}
	.logo {
		width: calc(159px + (179 - 159)*((100vw - 768px)/(1200 - 768)));
		height: calc(60px + (80 - 60)*((100vw - 768px)/(1400 - 768)));
	}
}
@media (max-width: 770px) {
	html {
		font-size: 25px;
	}
	.wrapper {
		margin-top: -60px;
		.mainSlider {
			&::after {
				top: -120px;
				right: -40%;
				background-size: calc(300px + (580 - 300)*((100vw - 380px)/(770 - 380))), 600px;
				background-position: top 350px left 0, top 40px left 200px;
			}
		}
		.catalogMain {
			&::before {
				width: 1000px;
				height: 1000px;
				top: 300px;
				left: -850px;
		
				background:  url('./../../assets/image/MainCatalog/bg.svg') no-repeat;
				background-size: contain;
				background-position: 0px 0px;
			}
			&::after {
				width: 500px;
				height: 500px;
				bottom: -420px;
				left: -300px;
				background-size: cover;
				pointer-events:none;
				z-index: 1;
			}
		}
		.logo {
			width: calc(190px + (225 - 190)*((100vw - 375px)/(1200 - 375)));
		}
	}
	.linkNext {
		font-size: 0.8rem;
	}
	.container {
		padding: 0 15px;
	}
	.main {
		margin-top: 140px;
	}
	.button {
		font-size: 1rem;
		&.big {
			width: 100%;
		}
		&.small {
			font-size: 0.64rem;
		}
	}
}
@media (max-width: 380px) {
	html {
		font-size: 18px;
	}
	.header {
		min-height: 70px;
	}
	.logo {
		width: calc(90px + (110 - 90)*((100vw - 320px)/(380 - 320)));
	}
	.wrapper {
		margin-top: -0px;
		.mainSlider {
			&::after {
				top:  -60px;
				right: -40%;
				background-size: calc(300px + (350 - 300)*((100vw - 320px)/(380 - 320))), 400px;
				background-position: top 200px left 0, top 0px left 100px;
			}
		}
		.catalogMain {
			&::before {
				width: 560px;
				height: 560px;
				top: 275px;
				left: -480px;
		
				background:  url('./../../assets/image/MainCatalog/bg.svg') no-repeat;
				background-size: contain;
				background-position: 0px 0px;
			}
			&::after {
				width: 240px;
				height: 240px;
				bottom: -200px;
				left: -120px;
				background-size: cover;
				pointer-events:none;
				z-index: 1;
			}
		}
	}
	.main {
		margin-top: 70px;
	}
}