.header {
	position: fixed;
	top: 0px;
	left: 0;
	background-color: transparent;
	width: 100%;
	min-height: 160px;
	background: #FFFFFF;
	box-shadow: 0px 5px 20px rgba(157, 157, 157, 0.25);
	z-index: 99;
	&__body {
		position: relative;
		padding: 22px 0;
		display: flex;
		column-gap: 25px;
		align-items: center;
		justify-content: space-between;
	}
	&__list {
		display: flex;
	}
	a {
		transition: all .2s ease-in-out;
		&:hover {
			color: $yellowHover;
		}
	}
}


.link-header {
	&__list {
		column-gap: 100px;
	}
}

.action-header {
	&__list {
		column-gap: 53px;
	}
	&__button {
		background-color: transparent;
		svg path{
			transition: all .2s ease-in-out;
		}
		&:hover, &:focus {
			svg {
				path {
					stroke: $yellowHover;
				}
			}
		}
	}
}
