.actionButton {
	height: 100%;
	padding: 0 5px;
}

.cartInfo {
	display: flex;
	flex-direction: column;
	gap: 20px;
	.cartItem {
		background: #FCFCFC;
		border: 1px solid #F0F0F0;
		border-radius: 20px;
		display: flex;
		padding: 30px 0;
		gap: 50px;
		align-items: center;
		.itemRemove {
			flex: 0 1 10%;
			background-color: transparent;
		}

		.itemInfo {
			flex: 0 1 40%;
			display: flex;
			gap: 30px;
			.cartDesc {
				display: flex;
				flex-direction: column;
				justify-content: center;
				gap: 10px;
			}
			.cartImage {
				width: 69px;
				height: 115px;
			}
			.itemName {
				font-weight: 700;
				font-size: 1rem;
				line-height: 1.2;
				color: #222222;
			}
			.itemGusto, .itemMass {
				font-weight: 500;
				font-size: 0.72rem;
				line-height: 1.25;
				color: #222222;
			}
		}

		.actionItem {
			flex: 0 1 20%;
		}
		.itemCount {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			background: #F6F6F6;
			border: 1px solid #D6D6D6;
			border-radius: 5px;
			font-weight: 600;
			font-size: 1rem;
			line-height: 1.2;
			color: #222222;
			padding: 11px 0;
			span {
				margin: 0 40px;
			}
			.actionMinus, .actionPlus {
				padding: 0 12.5px;
				background-color: transparent;
				font-weight: 600;
				font-size: 1rem;
				line-height: 1.2;
				color: #222222;
				&.actionClose {
					pointer-events: none;
					color: #C9C9C9;
				}
			}
		}

		.itemPrice, .itemDiscount, .totalPrice {
			flex: 0 1 10%;
			font-weight: 500;
			font-size: 1rem;
			line-height: 1.2;
			color: #222222;
		}
	}
}

@media (max-width: 1400px) {	
	.cartInfo {
		gap: 15px;
		.cartItem {	
			padding: 20px 30px;
			grid-template-columns: repeat(6, auto);
			gap: 40px;
			align-items: center;
			.itemRemove {
				svg {
					width: 15px; height: 15px;
				}
				background-color: transparent;
			}
	
			.itemInfo {
				display: flex;
				gap: 20px;
				.cartDesc {
					display: flex;
					flex-direction: column;
					justify-content: center;
					gap: 8px;
				}
				.itemName {
					font-size: 0.8rem;
				}
				.cartImage {
					width: 100%;
					max-width: 45px;
					height: auto;
				}
			}
	
			.itemCount {
				padding: 9px 0;
				span {
					margin: 0 12.5px;
				}
				.actionMinus, .actionPlus {
					padding: 0 13px;
					font-size: 1rem;
					&.actionClose {
						pointer-events: none;
						color: #C9C9C9;
					}
				}
			}

			.itemPrice, .itemDiscount, .totalPrice {
				font-weight: 500;
				font-size: 1rem;
				line-height: 1.2;
				color: #222222;
			}
		}
	}
}

@media (max-width: 1000px) {	
	.cartInfo {
		gap: 15px;
		.cartItem {	
			padding: 20px;
			gap: 35px;
			align-items: center;
			.itemRemove {
				svg {
					width: 15px; height: 15px;
				}
				background-color: transparent;
			}
	
			.itemInfo {
				display: flex;
				gap: 20px;
				.cartImage {
					width: 100%;
					max-width: 35px;
					max-height: 60px;
					height: auto;
				}
			}
	
			.itemCount {
				padding: 9px 0;
				span {
					margin: 0 10px;
				}
				.actionMinus, .actionPlus {
					padding: 0 10px;
					font-size: 1rem;
					&.actionClose {
						pointer-events: none;
						color: #C9C9C9;
					}
				}
			}

			.itemPrice, .itemDiscount, .totalPrice {
				font-size: 0.9rem;
			}
		}
	}
}

@media (max-width: 780px) {
	.cartInfo {
		.cartItem {
			background-color: #fff;
			border: 0px;
			border-radius: 0px;
			display: flex;
			flex-direction: column;
			padding: 30px 0;
			border-bottom: 1px solid #F1F1F1;
			&:first-child {
				padding-top: 0px;
			}
			&:last-child {
				border-bottom: 0px;
			}
			.cartInfoBlock {
				background: #FCFCFC;
				border: 0.4px solid #F0F0F0;
				border-radius: 8px;
				padding: 15px 5%;
				gap: 10px;
				width: 100%;
				display: flex;
				justify-content: space-between;
			}
			.itemInfo {
				gap: 20px;
				.cartImage {
					width: 100%;
					max-width: calc(40px + (60 - 40) * ((100vw - 400px) / (780 - 400)));
					max-height: calc(80px + (120 - 80) * ((100vw - 400px) / (780 - 400)));
					height: auto;
				}
				.cartDesc {
					font-size: calc(12px + (20 - 12) * ((100vw - 400px) / (780 - 400)));
					gap: 5px;
					.itemName {
						font-size: inherit
					}
					.itemGusto {
						max-width: 260px;
						font-size: inherit
					}
					.itemMass {
						font-size: inherit
					}
				}
			}
			.cartPriceBlock {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: flex-end;
				gap: 0;
				.itemPrice, .itemDiscount {
					font-size: calc(12px + (20 - 12) * ((100vw - 400px) / (780 - 400)));
					line-height: 12px;
				}
				.itemDiscount {
					text-decoration-line: line-through;
					color: #D6D6D6;
				}
			}
			.cartAction {
				display: flex;
				justify-content: space-between;
				align-items: center;
				width: 100%;
				svg {
					width: 25px; height: 25px;
				}
				.itemCount {
					background: #FFF7E1;
					border: 1px solid #F9B300;
					border-radius: 5px;
					font-size: 0.7rem;
					span {
						margin: 0 5px;
					}
					.actionMinus, .actionPlus {
						font-size: 0.7rem;
						padding: 0 40px;
					}
				}
			}
		}
	}
}

@media (max-width: 400px) {
	.cartInfo {
		margin-top: 20px;
		.cartListItem {
			gap: 0px;
		}
		.cartItem {
			padding: 20px 0;
			gap: 10px;
			.cartInfoBlock {
				padding: 10px 2.5%;
				gap: 10px;
				width: 100%;
			}
			.itemInfo {
				gap: 10px;
				.cartImage {
					width: 100%;
					max-width: 32.5px;
					max-height: 70px;
					height: auto;
				}
				.cartDesc {
					font-size: 0.56rem;
					justify-content: space-between;
				}
			}
			.cartPriceBlock {
				.itemPrice, .itemDiscount {
					font-size: 0.56rem;
					line-height: 0.5;
				}
			}
			.cartAction {
				display: flex;
				justify-content: space-between;
				align-items: center;
	
				width: 100%;
				svg {
					width: 18px; height: 20px;
				}
				.itemCount {
					background: #FFF7E1;
					border: 1px solid #F9B300;
					border-radius: 5px;
					font-size: 0.7rem;
					padding: 10px;
					span {
						margin: 0 5px;
					}
					.actionMinus, .actionPlus {
						font-size: 0.7rem;
						padding: 0 20px;
					}
				}
			}
		}
	}
}