.filter {
	display: flex;
}

.filterMenu {
	background: #FFFFFF;
	box-shadow: 0px 0px 30px rgba(149, 149, 149, 0.25);
	border-radius: 20px;
	max-height: 529px;
}

.filterTop {
	display: flex;
	gap: 20px;
	width: 100%;	
}

.filterRoasting {
	flex: 0 1 25%;
	.RoastingContainer {
		padding: 43px 30px;
		height: 100%;
	}
	.RoastingBody {
		position: relative;
		height: 100%;
		padding: 0px 20px 0px 65px;
		&::after {
			position: absolute;
			content: '';
			left: 0; top: 0;
			width: 15px; height: 100%;
		
			background: #F9B300;
			border-radius: 10px;
		}
	}
	.RoastingTitle {
		font-weight: 700;
		font-size: 1.2rem;
		line-height: 1.2;
	}

	.RoastingList {
		display: flex;
		flex-direction: column;
		gap: 45px;
		margin-top: 45px;
	}

	label {
		display: flex;
		align-items: center;
		gap: 10px;
		input {
			margin-right: 10px;
		}
	}

}

.filterDetalies {
	flex: 0 1 75%;
	.detaliesContainer {
		padding: 35px 50px;
		height: 100%;
	}
	.detaliesList {
		position: relative;
		padding-top: 45px;
		
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: flex-start;

		height: 100%;
		row-gap: 20px;
		&::after {
			position: absolute;
			content: '';
			top: 0; left: 0;
			width: 100%; height: 15px;
		
			background: #F9B300;
			border-radius: 10px;
		}
	}
	.detaliesMenu {
		margin-top: 30px;

		display: flex;
		flex-direction: column;
		row-gap: 20px;
	}
	.detaliesMenuItem {
		display: flex;
		align-items: center;
		input {
			margin-right: 20px;
		}
		font-size: 0.8rem;
		line-height: 1.2;
	}
	.detaliesTitle {
		font-weight: 700;
		font-size: 1rem;
		line-height: 1.2;
		max-width: 150px;
	}
	
}

@media (max-width: 1400px) {
	.filterMenu {
		max-height: 383px; 
	}
	.filterRoasting {
		.RoastingContainer {
			padding: 30px;
		}
		.RoastingBody {
			padding: 0px 20px 0px 40px;
			&::after {
				width: 10px; height: 100%;
			}
		}
		.RoastingList {
			gap: 30px;
			margin-top: 30px;
		}
		label {
			gap: 8px;
		}
	}
	.filterDetalies {
		.detaliesContainer {
			padding: 25px calc(40px + (50 - 40)*((100vw - 1400px)/(1400 - 1000)));
		}
		.detaliesList {
			border: 1px solid;
			width: 100%;
			column-gap: 5px;
			padding-top: 32.5px;
			&::after {
				width: 100%; height: 10px;
			}
		}
		.detaliesMenu {
			margin-top: 20px;
			row-gap: 15px;
			column-gap: 20px;
		}
		.detaliesTitle {
			font-weight: 700;
			font-size: 1rem;
			line-height: 1.2;
			max-width: 100px;
		}
	}
}

@media (max-width: 1000px) {
	.filterMenu {
		box-shadow: 0px 0px 30px rgba(149, 149, 149, 0.25);
		border-radius: 20px;
		max-height: none;
	}
}