.poput {
	position: relative;
	&.active {
		z-index: 125;
	}
}

.sortBy {
	padding-left: 20px;
}


.poputStart {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	background: #FFF7E1;
	border: 1px solid #F9B300;
	border-radius: 5px;
	min-width: 132px;
	text-align: left;

	font-size: 0.72rem;
	padding: 6px 12px 6px 30px;
	button {
		font-size: 0.72rem;

		background-color: transparent;
		text-align: left;
	}
}

.poputMenu {
	position: absolute;
	margin-top: 8px;

	display: flex;
	flex-direction: column;
	align-items: flex-start;
	row-gap: 10px;
	.active {
		color: #F9B300;
	}
}

.poputSortBy {
	position: absolute;
	left: 0; top: 0;
	display: inline-flex;
	align-items: center;
	flex-direction: column;
	background: #FFFFFF;
	box-shadow: 0px 0px 20px rgba(103, 103, 103, 0.25);
	border-radius: 5px;
	min-width: 270px;
	transition: all .4s ease;
	&::after {
		position: fixed;
		content: '';
		top: 0; left: 0; 
		width: 100vw; height: 100vh;
		background-color: rgba(0, 0, 0, 0.4);
		z-index: -1;
	}
	button {
		width: 100%;
		background-color: transparent;
		text-align: left;
		font-size: 0.72rem;
		line-height: 1.2;
		padding: 10px 30px;
	}
	.sortByActive {
		padding: 20px 30px;
		color: #F9B300;
		border: 1px solid #E9E9E9;
	}
	.close {
		padding: 0px;
		width: 15px; height: 15px;
		position: absolute;
		top: 0; right: 0;
		margin: 25px 20px;
		&::after, &::before {
			position: absolute;
			content: '';
			top: 0; bottom: 0; right: 0; left: 0;
			margin: auto;
			height: 100%;
			width: 1px;
			background-color: #000;
		}
		&::after {
			transform: rotate(45deg);
		}
		&::before {
			transform: rotate(-45deg);
		}
	}
}

@media (max-width: 1400px) {
	.poputStart {
		min-width: 95px;
		margin: 0 auto;
		text-align: left;
	
		font-size: 0.666rem;
		padding:4px 18px 4px 18px;
		svg {
			width: 8px;
		}
	}
	.poputMenu {
		margin-top: 8px;
	}
	.poputSortBy {
		min-width: 150px;
		button {
			width: 100%;
			padding: 7.5px 30px;
			padding-right: 50px;
		}
		.sortByActive {
			padding: 10px 30px;
			padding-right: 50px;
		}
		.close {
			width: 12.5px; height: 12.5px;
			margin: 15px;
		}
	}
}

@media (max-width: 770px) {
	.poputStart {
		min-width: calc(80px + (110 - 80)*((100vw - 400px)/(770 - 400)));

		font-size: 0.6rem;
		padding: 6px 10px 6px 10px;
		svg {
			width: 8px;
		}
	}
	.poputMenu {
		margin-top: 8px;
	}
	.poputSortBy {
		margin-left: -15px;
		min-width: 0px;
		width: 100vw;
		button {
			width: 100%;
			padding: 10px;
			padding-left: calc(37.5px + (55 - 37.5)*((100vw - 400px)/(780 - 400)));
		}
		.sortByActive {
			padding: 10px;
			padding-left: calc(37.5px + (55 - 37.5)*((100vw - 400px)/(780 - 400)));
		}
		.close {
			width: 17px; height: 17px;
			margin: 15px;
		}
	}
}

@media (max-width: 380px) {
	.poputStart {
		min-width: 82px;

		font-size: 0.78rem;
		padding: 3px 15px 3px 15px;
		svg {
			width: 7px;
		}
	}
	.poputMenu {
		max-width: 82px;
		padding: 3px 15px 3px 15px;
		margin-top: 8px;
	}
	.sortBy {
		padding-left: 15px;
	}
	.poputSortBy {
		margin-left: -15px;
		min-width: 0px;
		width: 100vw;
		button {
			padding: 10px;
			padding-left: 35px;
		}
		.sortByActive {
			padding: 10px;
			padding-left: calc(37.5px + (55 - 37.5)*((100vw - 400px)/(780 - 400)));
		}
		.close {
			width: 13px; height: 13px;
		}
	}
}